#footer-block-newsletter-title span {
  font-family: 'ITC Lubalin Graph Std',Arial,sans-serif;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: .6px;
}

.footer_container{
  margin: 0 auto;
}


#footer-block-newsletter-input input[type=email] {
  transition: .3s all;
  outline: 0;
  background: 0 0;
  border: none;
  color: #fff;
  width: auto;
  border-bottom: 1px solid rgba(255,255,255,.3);
  width: 100%;
  padding-top: 4px;
  padding-bottom: 18px;
  text-align: center;
  
}

button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#footer-block-newsletter-input button {
  outline: 0;
  transition: color .3s;
  text-transform: uppercase;
  background: 0 0;
  border: none;
  color: #fff;
  margin-top: 20px;
  margin-left: 30px;
}

#footer-block {
  display: block;
  background: #152d3a;
  color: #fff;
  padding-top: 160px;
  padding-right: 8.33333%;
  padding-bottom: 40px;
  padding-left: 8.33333%;
  margin-top: 250px;
}

form, button{
  display: flex;
}
@media (max-width: 769px){
  form, button{
    flex-wrap: wrap;
  }
}

#footer-block-newsletter-input button i {
  transition: transform 1s;
  margin-left: 5px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* text */
.footer-row {
  margin-top: 100px;
}

.footer__title {
  color: #d4092d;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  
}
.footer-block-col:first-of-type p a {
  color: #fff;
  text-decoration: underline;
}

.fab{
  font-size: 28px;
}
.fab:hover{
  color: #d4092d;
  transition: 0.4s ease;
}
.privacy a{
 width: fit-content;
}
.privacy{
  width: fit-content;
  text-decoration: underline;
}
.privacy a:hover{
  color: #d4092d;
  transition: 0.4s ease;
}
.fa-facebook-square{
  margin-right: 10px;
}

.footer-block-col {
  margin-top: 40px;
}

.footer-block-col li a {
  transition: color .3s;
  color: #fff;
  font-size: .9em;
}
.footer-block-col li {
  text-transform: uppercase;
  margin-top: 8px;
}

.footer-block-contact-col__title {
  margin-top: 20px;
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-block-contact-col p {
  margin-bottom: 10px;
  line-height: 1.5em;
}

#footer-block-copyright {
  padding-top: 40px;
  border-top: 1px solid rgba(255,255,255,.3);
  font-size: 1.1em;
  font-weight: 700;
}

#fieldEmail{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* hover */
#footer-block-newsletter-input button:hover {
  color: #d4092d;
}
#footer-block-newsletter-input button:hover i {
  transform: translate(5px,0);
}
.footer-block-col li a:hover {
  color: #d4092d;
  text-decoration: none;
}
.footer-block-contact-col a:hover{
  color: #d4092d;
  transition: 0.4s ease;
}

.footer-block-contact-col a{
  color: #ffffff;
}